@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pompiere&family=Signika:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Lateef&display=swap");
body {
  margin: 0;
}
* {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #1d1d1d;
}
header {
  height: 70px;
  display: grid;
  padding: 0 5%;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  align-items: center;
  color: #ffff;
}
.btn-media {
  display: flex;
  justify-content: space-between;
}
.btn-media a {
  margin-right: 20px;
}
.btn-media i {
  margin-right: 10px;
}
.mainheader {
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  /* align-content: space-between; */
  font-family: sans-serif;
}
.menu-btn {
  color: #ffff;
  display: none;
  position: relative;
}
.menu-btn i {
  color: grey;
  font-size: 20px;
  font-weight: bold;
}
.navbar {
  margin-top: 15px;
}
.navbar i {
  margin-right: 10px;
  /* display: flex; */
}
.navbar a {
  text-transform: capitalize;
  text-decoration: none;
  color: #ffff;
  margin-right: 20px;
  /* margin: 0 10px; */
  font-size: 18px;
  font-family: "Signika", sans-serif;
}
.topicons {
  margin: 10px;
  padding: 0% 0 0;
}
.topicons span {
  margin: 8px;
  color: #ffff;
}
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 550px;
  background: #1d1d1d;
  font-size: 20px;
}
.banner-text {
  margin-top: 100px;
  font-size: 25px;
}
.banner-text span {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 500;
  color: #ffff;
}
.cool {
  text-transform: capitalize;
  color: #ff3559;
}
.banner-text p {
  font-size: 40px;
  font-weight: 400;
  /* color: #ffff; */
  text-transform: capitalize;
}
.last-bannertext {
  font-weight: 300;
  color: #ffff;
  font-family: "Pompiere", cursive;
  font-family: "Signika", sans-serif;
}
.banner-img {
  background: url(images/prototype\ 2.png);
  height: 400px;
  width: 400px;
  border-radius: 80px 70px 80px 70px;
  margin: 70px 110px 60px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
}
.banner-about {
  background: #1d1d1d;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-style: normal;
}
.banner-about h2 {
  color: #ffff;
}
.banner-about span {
  color: #ff3559;
}
.about {
  height: 600px;
  background: #1d1d1d;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about-img {
  background: url(images/About-2.jpeg);
  height: 350px;
  width: 350px;
  margin: 75px;
  border-radius: 50px 50px 50px 50px;
  box-shadow: #1d1d1d;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  position: relative;
  justify-content: center;
}
.about-text {
  color: #ffff;
  font-size: 25px;
  font-weight: 400;
  font-family: "Pompiere", cursive;
  font-family: "Signika", sans-serif;
  text-transform: capitalize;
  margin: 40px;
  padding: 40px;
}
.skills {
  background: #1d1d1d;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 90px 200px;
  grid-gap: 100px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #464646;
}
.skills div {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  border: 1.5px solid #464646;
  box-sizing: border-box;
}
.last-part {
  background: #1d1d1d;
  display: flex;
  font-size: 25px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #464646;
  padding: 2px 5%;
}
.last-part h5 {
  padding: 2px 4%;
  margin: 10px;
}
.part-2 {
  background: #1d1d1d;
  height: 150px;
  border-bottom: 2px solid #464646;
}
.part-2 button {
  height: 50px;
  width: 150px;
  margin: 2px 10%;
  /* padding: 1px 5%; */
  background-color: #ff3559;
  border-radius: 10px;
  color: #ffff;
  border: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
}
footer {
  background: #1d1d1d;
  font-size: 18px;
  font-weight: 500;
  font-family: "Gentium Basic", serif;
}
.footer {
  color: #ffff;
  border: #464646;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-decoration: none;
}
.footer h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 9px;
}
.copyrights {
  display: flex;
  border-top: 2px solid #464646;
  font-size: 15px;
  background: #1d1d1d;
  color: #464646;
  text-align: center;
}
.copyrights span {
  border-left: 2px solid #464646;
}
.email {
  font-size: 15px;
  font-weight: 400;
  font-family: "Gentium Basic", serif;
}
/* about css */
.labout {
  display: flex;
  flex-direction: column;
  background: #1d1d1d;
  font-size: 25px;
  font-weight: 500;
  font-family: serif;
  text-transform: capitalize;
  color: #ffff;
}
.projects {
  display: flex;
  color: #ffff;
  background: #1d1d1d;
  font-size: 20px;
  font-weight: 500;
  padding-left: 95px;
}
.proimg {
  background: url(images/myproject.png);
  height: 350px;
  width: 400px;
  margin: 75px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  position: relative;
  justify-content: center;
}
/* contact css */
.contactheader {
  font-size: 20px;
  margin-left: 495px;
  color: #ffff;
  text-transform: capitalize;
}
.contacticon a {
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  font-family: "Gentium Basic", serif;
  font-family: "Lateef", cursive;
}
.contacticon i {
  color: #ffff;
}
.contacticon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
}
/* media querie */
@media only screen and (max-width: 768px) {
  .topicons {
    display: none;
  }
  .menu-btn {
    display: block;
    right: 5%;
    top: -10%;
    font-size: 22px;
    font-weight: 400;
  }
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3%;
    height: auto;
  }
  .btn-wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    /* left: 150px; */
  }
  .btn-media {
    position: absolute;
    top: 100px;
    left: 5%;
    height: 15vh;
    width: 40vw;
    /* background: #464646; */
    transform: translate(-500px);
    transition: 0.5s ease-in-out;
    /* display: flex; */
    /* flex-direction: column; */
    /* background: #ffff; */
    /* text-align: justify; */
  }
  .btn-media.show {
    transform: translate(-20px);
    transition: 0.5s ease-in-out;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .banner {
    grid-template-columns: 2fr;
    height: auto;
    justify-content: center;
    text-align: center;
  }
  .banner-img {
    display: none;
  }
  .banner-text {
    padding: 20%;
  }
  .banner-about {
    padding: 10%;
  }
  .about {
    grid-template-columns: 1fr;
    text-align: center;
    height: auto;
  }
  .about-img {
    height: 200px;
    width: 200px;
  }
  .about-text {
    font-weight: 300;
    font-size: 15px;
  }
  .skills {
    grid-template-columns: 1fr;
    padding: 10%;
    grid-gap: 4%;
  }
  .skills div {
    width: 100%;
  }
  .footer {
    grid-template-columns: 1fr;
    font-size: 15px;
    padding: 10%;
  }
  .contacticon {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .last-part {
    margin-top: 10%;
  }
  .projects {
    font-size: 15px;
    margin-left: 0;
  }
  .proimg {
    height: 150px;
    width: 150px;
  }
  .contactheader {
    font-size: 15px;
    margin-left: 0;
  }
  .contacticon {
    display: flex;
    justify-content: space-evenly;
  }
}
